# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node
node_modules/
dist/
build/
.DS_Store

# DB
*.db
*.sqlite

# Uploads
backend/uploads/ assignments/
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db
